:root {
    --white-color: #fff;
    --black-color: #000;
    --green-color: #00b14f;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.grid {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.col-3 {
    width: 33.33%;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 120px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--green-color);
}

.btn.btn--with-icon {
    width: 200px;
}

.icon--green {
    margin: 0 4px;
    color: var(--green-color);
}

.green-text {
    color: var(--green-color);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth{
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Header */
.header {
    height: 78px;
    background-color: var(--white-color);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    z-index: 2;
    background-color: #ffffff;
    border-bottom: solid 1px #dbdbdb;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-shadow: #eff;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

.header__navbar-block {
    position: relative;
    display: inline-flex;
    border-radius: 4px;
}
.header__navbar-list > div > li > a {
    color: var(--black-color);
    text-decoration: none;
}

.header__navbar-item-btn {
    background-color: var(--green-color);
    border-radius: 4px;
    border-color: var(--green-color);
    border-width: 1px;
    min-width: 100px;
    padding: 13px 10px;
    margin-right: 0;
}

.header__navbar-item-btn:hover {
    background-color:var(--white-color);
    cursor: pointer;
}

.header__navbar-list >  button > a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 800;
    font-size: 16px;
}

.header__navbar-item {
    position: relative;
    margin: 0px 16px;    
    padding: 13px 10px;
}

.header__navbar-block{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
}
.header__navbar-block:hover {
    background-color: rgb(238, 238, 238);
}
.header__navbar-item-btn:hover > a,
.header__navbar-item:hover > a, 
.header__navbar-item-link:hover > a,
.header__navbar-subnav li:hover > a{
    cursor: pointer;
    color: var(--green-color);
    opacity: 0.7;
}

.header__navbar-subnav::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 18px;
    top: -18px;
}

.header__navbar-subnav {
    display: none;
    list-style: none;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 3px 6px #00000029;
    min-width: 240px;
    padding: 12px 0;
    height: auto;
    margin-top: 19px;
    border-radius: 5px;
}

.header__navbar-subnav > li {
    min-height: 40px;
    margin: 4px 12px;
    background-color: #f6f6f6;
    border-radius: 4px;
}

.header__navbar-subnav li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 14px;
}

.header__navbar-subnav-icon {
    margin: 0 12px;
    color: var(--green-color);
}

.header__navbar-block:hover .header__navbar-subnav {
    display: block;
    z-index: 1;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    margin: 0 10%;
    font-size: 1.6rem;
    background-color: #f9f9f9;
    border-top: 1px solid #dbdbdb;
}

.footer a {
    text-decoration: none;
    color: var(--black-color);
}

/* Radio button */

.py label  {
    display: inline-flex;
    align-items: center;
    margin: 16px 16px;
    color: var(--black-color);
    font-size: 1.6rem;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: var(--white-color);
  border: solid 1px #dbdbdb;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  position: relative;
  z-index: 1000;
  outline: none;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: var(--green-color);
}
.option-input:checked::before {
  width: 20px;
  height: 20px;
  display:flex;
  content: '\f00c';
  font-size: 1.2rem;
  font-weight:bold;
  position: absolute;
  align-items:center;
  justify-content:center;
  font-family:'Font Awesome 5 Free';
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: var(--green-color);
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}