/* Container tim viec*/

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 78px;
    background-color: #f4f4f4;
}

.container__box-search {
    background-color: var(--white-color);
    width: 100%;
    padding: 20px 10%;
    
}

.container__search-bar {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 50px;
    width: 100%;
    padding: 4px;
}

.container__searh-bar-input {
    padding: 0 20px;
    margin: 0 4px;
    border-radius: 4px;
    outline: none;
    font-size: 1.2rem;
    min-width: 320px;
    background-color: var(--white-color);
    border-color: rgba(51, 51, 51, 0.4);
    border-width: 1px;
    border-style: solid;
}

.container__searh-bar-input:hover {
    border-color: var(--green-color);
}

.container__search-form-group {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    padding: 0 8px;
    margin: 0 4px;
    min-width: 120px;
    max-width: 200px;
    min-height: 40px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px;
    border-color: #dbdbdb;
}

.container__search-form-group:hover {
    border-color: var(--green-color);
}

.container__search-bar-btn {
    background-color: var(--green-color);
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    font-size: 1.2rem;
    min-width: 60px;
    max-width: 120px;
    width: 100%;
    cursor: pointer;
    padding: 0 12px;
}

.container__search-bar-btn:hover {
    opacity: 0.7;
}

.search-bar-btn-icon {
    margin: 0 4px;
}

.container__header {
    width: 100%;
    padding: 12px 2%;
    font-size: 1.2rem;
}

.container__content {
    background-color: #f5f5f5;
    width: 100%;
    padding: 0 10%;
}

.container_company-info {
    display: flex;
    width: 100%;
    background-color: var(--white-color);
    align-items: center;
    border-radius: 3px;
    padding: 16px;
}

.col-img {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.col-info-job {
    width: 55%;
}

.col-button {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.company-logo img {
    border-radius: 50%;
    border: solid 1px #dbdbdb;
    width: 110px;
    height: 110px;
}

.name-job {
    color: var(--green-color);
    font-size: 2.4rem;
    line-height: 29px;
    margin-bottom: 16px
}

.company-title a {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px
}

.job-deadline {
    padding: 4px;
    margin-top: 12px;
    font-size: 1.4rem;
}

.col-button button {
    margin: 4px 5%;
    padding: 14px 0;
    width: 70%;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
}

.button-apply {
    background-color: var(--green-color);
    color: var(--white-color);
    border: solid 1px #f5f5f5;
}

.button-save {
    background-color: var(--white-color);
    color: var(--green-color);
    border: solid 1px var(--green-color);
}

.container__tab-move ul{
    display: flex;
    list-style: none;
    padding: 16px;
}

.container__tab-move a {
    border-bottom: 2px solid var(--black-color);
    margin-right: 50px;
    text-decoration: none;
    color: #b6b5b5;
    padding: 12px 0;
    font-size: 1.6rem;
}

.container__job-info,
.container__company-info {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 16px;
    margin-bottom: 12px;
}

.job-info__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 0 16px;
}

.job-info__header h2 {
    border-left: 7px solid var(--green-color);
    padding-left: 12px;
}

.job-info__info,
.job-info__address {
    background-color: #f2fbf6;
    padding: 8px 16px;
    margin-top: 8px;
}

.detail {
    display: flex;
    flex-wrap: wrap;
}

.job-info__info p,
.job-info__address p {
    color: var(--black-color);
    font-weight: 700;
    margin-bottom: 24px;
    text-decoration-line: underline;
    font-size: 1.6rem;
}

.detail-item {
    display: flex;
    margin-bottom: 16px;
    font-size: 1.6rem;
    line-height: 22px;
    align-items: flex-start;
}

.detail-item img {
    background-color: #9cf3b9;
    border-radius: 50%;
    height: 32px;
    margin-right: 16px;
    width: 32px;
    font-size: 1.6rem;
    padding: 4px;
}

.job-info__address div{
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.job-info__data {
    font-size: 1.6rem;
}

.job-info__data h3 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.job-info__data p {
    margin: 0 5px 10px;
    line-height: 1.5;
}

.job-info__header a,
.job-in-company__header a {
    text-decoration: none;
    color: var(--green-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.detail .title,
.job-in-company .title {
    font-weight: 700;
}

.detail-item-content {
   margin-top: -10px;
}


.job-in-company__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #dbdbdb;
    padding: 24px 12px;
}

.job-list__list-item {
    padding-bottom: 8px;
}

.job-list__item {
    width: 98%;
    display: flex;
    flex-wrap: nowrap;
    border: solid 1px #dbdbdb;
    margin: 1%;
    border-radius: 5px;
    box-shadow: #b6b5b5;
}

.job-list__item-col-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-list__item-col-logo > img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.job-list__item-col-logo {
    width: 10%;
}

.job-list__item-col-info {
    width: 65%;
}

.job-list__item-col-info > .row1 {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}

.job-list__item-col-info a {
    color: var(--black-color);
}

.job-list__item-col-info > .row2 {
    font-size: 1.2rem;
    padding: 4px 0;
}

.job-list__item-col-info > .row3 {
    display: flex;
}

.job-list__item-col-info > .row3 > .tag {
    font-size: 1.2rem;
    padding: 4px;
    margin: 8px 2px;
    background-color: #dbdbdb;
    border-radius: 2px;
    color: rgb(127, 123, 123);
}

.job-list__item-col-info .row1:hover, 
.job-list__item-col-info .row2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.job-list__item-col-apply {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    margin: 0px 12px 12px 2px;
    font-size: 1.6rem;
}

.job-list__item-col-apply > .save-icon {
    align-self: flex-end;
    color: var(--green-color);
    cursor: pointer;
}
