/* Container tim viec*/

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 78px;
    background-color: #f4f4f4;
}

.container__header {
    width: 100%;
    padding: 12px 2%;
    font-size: 1.2rem;
}

.container__content {
    background-color: #f5f5f5;
    width: 100%;
    padding: 0 10%;
}

.container__company-cover {
    width: 100%;
    background-color: var(--white-color);
    margin-bottom: 16px;
}

.container__company-cover .detail {
    padding: 0 24px 12px;
    display: flex;
    font-size: 1.6rem;
}

.container__company-cover .logo {
    align-items: center;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 10px;
    display: flex;
    height: 140px;
    justify-content: center;
    position: relative;
    top: -65px;
    width: 140px;
    margin-right: 24px;
}

.container__company-cover .img-logo {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin: 5px;
}

.info .website {
    display: flex;
    justify-content: space-between;
}

.website p {
    padding-right: 12px;
    display: flex;
    align-items: center;
}

.website a:hover {
    text-decoration: underline;
}

.container__company-cover .follow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.follow-button a {
    background-color: var(--green-color);
    border-radius: 5px;
    padding: 12px 28px;
    color: var(--white-color);
    font-size: 1.4rem;
}

.container__company-info {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 24px;
    margin-bottom: 12px;
}

.company-info__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black-color);
    font-size: 2rem;
    margin: 0 0 16px;
}

.company-info__header h4 {
    border-left: 5px solid var(--green-color);
    padding-left: 8px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.company-info__detail {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.job-in-company {
    background-color: var(--white-color);
    padding: 24px;
    margin-bottom: 12px;
}

.job-in-company__header a {
    text-decoration: none;
    color: var(--green-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.detail-item-content {
   margin-top: -10px;
}


.job-in-company__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #dbdbdb;
    padding: 24px 12px;
}

.job-list__list-item {
    padding-bottom: 8px;
}

.job-list__item {
    width: 98%;
    display: flex;
    flex-wrap: nowrap;
    border: solid 1px #dbdbdb;
    margin: 1%;
    border-radius: 5px;
    box-shadow: #b6b5b5;
}

.job-list__item-col-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-list__item-col-logo > img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.job-list__item-col-logo {
    width: 10%;
}

.job-list__item-col-info {
    width: 65%;
}

.job-list__item-col-info > .row1 {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}

.website a,
.job-list__item-col-info a {
    color: var(--black-color);
}

.job-list__item-col-info > .row2 {
    font-size: 1.2rem;
    padding: 4px 0;
}

.job-list__item-col-info > .row3 {
    display: flex;
}

.job-list__item-col-info > .row3 > .tag {
    font-size: 1.2rem;
    padding: 4px;
    margin: 8px 2px;
    background-color: #dbdbdb;
    border-radius: 2px;
    color: rgb(127, 123, 123);
}

.job-list__item-col-info .row1:hover, 
.job-list__item-col-info .row2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.job-list__item-col-apply {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    margin: 0px 12px 12px 2px;
    font-size: 1.6rem;
}

.job-list__item-col-apply > .save-icon {
    align-self: flex-end;
    color: var(--green-color);
    cursor: pointer;
}
